{% extends layout('posts') %}

{% block content %}
    <div id="posts">
        <div class="container">
            {% set posts = entries('posts').whereTags('LIKE', '%"' ~ route_parameter('tag') ~ '"%').paginate() %}

            {% include "anomaly.module.posts::posts/partials/posts" with {"posts": posts} %}

            {{ posts.links|raw }}
            
        </div>
    </div>
{% endblock %}
