<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
	<head>
		{% block metadata %}
			{% include "theme::partials/metadata" %}
		{% endblock %}
	</head>
	<body class="bg-dark text-white ">
		<div id="content" class="relative w-full min-h-screen flex flex-col justify-center items-center batik-pattern overflow-x-hidden">
			
			<div class="absolute inset-0 batik-overlay"></div>
			<section id="gallery" class="py-8 md:py-16 z-10 transition">
			{% include "theme::partials/navigation" %}
				<div class="container mx-auto px-6">
					<div class="text-center mb-16">
						{% if app.request.path starts with env('POSTS_URL_BASE') ~ '/tags/' %}
							<h2 class="text-3xl md:text-4xl font-bold inline-block section-title">
								Gallery Tag: {{ tag }}
							</h2>
						{% else %}
							<h2 class="text-3xl md:text-4xl font-bold inline-block section-title">
								Gallery Sarinah
							</h2>
							<p class="mt-6 text-lg max-w-2xl mx-auto">
								Setiap produk memiliki cerita dan makna yang mendalam, mencerminkan
								kekayaan budaya dan keahlian pengrajin lokal Indonesia.
							</p>
						{% endif %}
					</div>
					<div
						class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-10grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 md:gap-8">
						{# {% include "theme::partials/posts" %} #}
						{% block content %}{% endblock %}
					</div>
				</div>
				{% include "theme::partials/footer" %}
			</section>
		</div>
	</body>
</html>
