<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

	<head>
		{% block metadata %}
			{% include "theme::partials/metadata-singlepost" %}
		{% endblock %}
	</head>

	<body>
        {% block content %}{% endblock %}
		<!-- Footer -->
        {% include "theme::partials/footer" %}
	</body>

</html>
