<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

	<head>
		{% block metadata %}
			{% include "theme::partials/metadata" %}
		{% endblock %}
	</head>

	<body>
        {% block content %}{% endblock %}

	</body>

</html>
