<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata-login" %}
</head>

<body id="login" class="variant-{{ random(8) }} bg-dark text-white" data-variants="8">

{% block content %}{% endblock %}

{% include "theme::partials/assets" %}

</body>
</html>
